<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lanayru.app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 注意7.0以上需要定位权限才能获扫描到蓝牙设备 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lanayru.app.ui.MainActivity"
            android:theme="@style/AppTheme.Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.custom.TestActivity"/>
        <activity android:name=".ui.custom.InfoViewActivity"/>
        <activity android:name=".ui.custom.PullLoadingViewActivity"/>
        <activity android:name=".ui.classloader.DexClassLoaderActivity"/>
        <activity android:name=".ui.ThemeActivity"/>
        <activity android:name=".ui.classloader.HotFixActivity"/>
        <activity android:name=".ui.ProcessActivity"
                  android:autoRemoveFromRecents="true"
                  android:excludeFromRecents="true"
                  android:icon="@color/colorAccent"
                  android:banner="@color/colorAccent"
            />
        <activity android:name=".ui.architecture.UserDbActivity"/>
        <activity android:name=".ui.ProgressBarActivity"/>
        <activity android:name=".ui.SpansActivity"/>
        <activity android:name=".ui.custom.GridLayoutActivity"/>
        <activity android:name=".ui.eth.EthWalletActivity"/>
        <activity android:name=".ui.MusicPlayerActivity" />
        <activity android:name=".ui.anim.NumberAnimActivity" />
        <activity android:name=".ui.StringActivity" />
        <activity android:name=".ui.AutoSizingTextViewActivity" />
        <activity android:name=".ui.custom.RuleViewActivity" />
        <activity android:name=".ui.InternationalActivity" />
        <activity android:name=".ui.jni.JniDemoActivity" />
        <activity android:name=".ui.anim.FrameAnimActivity" />
        <activity android:name=".ui.anim.AnimActivity" />
        <activity android:name=".ui.bug.SoftKeyboardActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".ui.bug.SoftKeyboardDialogActivity" />
        <activity android:name=".ui.bluetooth.ScanActivity" />
        <activity android:name=".ui.bluetooth.BLEScanActivity" />
        <activity android:name=".ui.bluetooth.BtClientActivity" />
        <activity android:name=".ui.bluetooth.BtServerActivity" />
        <activity android:name=".ui.bluetooth.HeadsetInfoActivity" />
        <activity android:name=".ui.PlayActivity" />
        <activity android:name=".ui.bluetooth.BluetoothDeviceActivity" />
        <activity android:name=".ui.ams.AMSActivity" />
        <activity android:name=".ui.GifActivity" />
    </application>

</manifest>