<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lanayru.app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 注意7.0以上需要定位权限才能获扫描到蓝牙设备 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lanayru.app.ui.MainActivity"
            android:theme="@style/AppTheme.Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.custom.TestActivity"/>
        <activity android:name=".ui.custom.InfoViewActivity"/>
        <activity android:name=".ui.custom.PullLoadingViewActivity"/>
        <activity android:name=".ui.classloader.DexClassLoaderActivity"/>
        <activity android:name=".ui.ThemeActivity"/>
        <activity android:name=".ui.classloader.HotFixActivity"/>
        <activity android:name=".ui.ProcessActivity"
                  android:autoRemoveFromRecents="true"
                  android:excludeFromRecents="true"
                  android:icon="@color/colorAccent"
                  android:banner="@color/colorAccent"
            android:taskAffinity=""
            />
        <activity android:name=".ui.architecture.UserDbActivity"/>
        <activity android:name=".ui.ProgressBarActivity"/>
        <activity android:name=".ui.custom.GridLayoutActivity"/>
        <activity android:name=".ui.MusicPlayerActivity" />
        <activity android:name=".ui.anim.NumberAnimActivity" />
        <activity android:name=".ui.StringActivity" />
        <activity android:name=".ui.AutoSizingTextViewActivity" />
        <activity android:name=".ui.custom.RuleViewActivity" />
        <activity android:name=".ui.InternationalActivity" />
        <activity android:name=".ui.jni.JniDemoActivity" />
        <activity android:name=".ui.anim.FrameAnimActivity" />
        <activity android:name=".ui.anim.AnimActivity" />
        <activity android:name=".ui.bug.SoftKeyboardDialogActivity" />
        <activity android:name=".ui.bluetooth.ScanActivity" />
        <activity android:name=".ui.bluetooth.BLEScanActivity" />
        <activity android:name=".ui.bluetooth.BtClientActivity" />
        <activity android:name=".ui.bluetooth.BtServerActivity" />
        <activity android:name=".ui.bluetooth.HeadsetInfoActivity" />
        <activity android:name=".ui.PlayActivity" />
        <activity android:name=".ui.bluetooth.BluetoothDeviceActivity" />
        <activity android:name=".ui.ams.AMSActivity" />
        <activity android:name=".ui.ViewEventActivity" />
        <activity android:name=".ui.custom.PressScaleViewActivity" />
        <activity android:name=".ui.router.RouterMainActivity" />
        <activity android:name=".ui.ReplaceContentViewActivity" />
        <activity android:name=".ui.custom.WaveViewActivity" />
        <activity android:name=".ui.rv.RvNestActivity" />
        <activity android:name=".ui.rv.RvBetterNestActivity" />
        <activity android:name=".ui.anim.PagViewActivity" />
        <activity android:name=".ui.activitytask.OneActivity" />
        <activity android:name=".ui.activitytask.SecondActivity"
            android:taskAffinity="com.seven"
            android:launchMode="singleInstance"
            ></activity>
        <activity android:name=".ui.activitytask.ThirdActivity"
            android:taskAffinity="com.seven"
            />
        <activity android:name=".ui.custom.AbilityViewActivity" />
        <activity android:name=".ui.anim.PathViewActivity" />
        <activity android:name=".ui.CrashActivity" />
        <activity android:name=".ui.AndroidPActivity" />
        <activity android:name=".ui.TraceActivity" />
        <activity android:name=".ui.LeakActivity" />
        <activity android:name=".ui.RxJavaTestActivity" />
        <activity android:name=".ui.LayoutActivity" />
        <activity android:name=".ui.rv.LoadMoreRvActivity" />
        <activity android:name=".ui.DialogActivity" />
        <activity android:name=".ui.ImageDetailActivity" />
        <activity android:name=".ui.PopupActivity" />
        <activity android:name=".ui.KeyboardTestActivity" />

        <activity android:name=".ui.ChronometerActivity" />
        <activity android:name=".ui.bug.SoftKeyboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.keyboard.KeyboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.SpansActivity"/>
        <activity android:name=".ui.anim.RecordViewWaveActivity" />
        <activity android:name=".ui.GifActivity" />
        <activity android:name=".ui.GifEmojiActivity" />
        <activity android:name=".ui.album.VideosActivity" />
        <activity android:name=".ui.album.AlbumActivity"/>
        <activity android:name=".ui.album.AlbumActivity1" android:process=":album1" />
        <activity android:name=".ui.album.AlbumActivity2" android:process=":album2" />
        <activity android:name=".ui.album.AlbumActivity3" android:process=":album3" />
        <activity android:name=".ui.album.AlbumActivity4" android:process=":album4" />
        <activity android:name=".ui.album.AlbumActivity5" android:process=":album5" />
        <activity android:name=".ui.album.AlbumActivity6" android:process=":album6" />
        <activity android:name=".ui.album.EmptyProcessActivity" android:process=":empty" />
        <activity android:name=".ui.album.DetailActivity"
            />
        <activity android:name=".ui.FragmentContainerActivity" />
        <activity android:name=".ui.ToastActivity" />
        <activity android:name=".ui.image.ImagePreviewActivity"
            >
            <meta-data android:name="android.notch_support" android:value="true"/>
        </activity>
        <activity android:name=".ui.TestThemeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".ui.emoji.EmojiActivity" />
        <activity android:name=".ui.album.LoadMemActivity" />
        <activity android:name=".ui.custom.DrawViewsActivity" />
        <activity android:name=".ui.emoji.EmojiKeyboardActivity" />
        <activity android:name=".ui.lottie.LottieActivity" />
        <activity android:name=".ui.emoji.SpanEmojiActivity" />
        <activity android:name=".ui.custom.TouchTestActivity" />
    </application>

</manifest>